<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Cookiee</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Cookiee1</display-name>
    <servlet-name>Cookiee1</servlet-name>
    <servlet-class>com.cookiee.Cookiee1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookiee1</servlet-name>
    <url-pattern>/cookie1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfessionalDataServlet</display-name>
    <servlet-name>ProfessionalDataServlet</servlet-name>
    <servlet-class>com.cookie.ProfessionalDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessionalDataServlet</servlet-name>
    <url-pattern>/sec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfessionalDataServlet1</display-name>
    <servlet-name>ProfessionalDataServlet1</servlet-name>
    <servlet-class>com.cookiee.ProfessionalDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessionalDataServlet1</servlet-name>
    <url-pattern>/ProfessionalDataServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vuecookie</display-name>
    <servlet-name>vuecookie</servlet-name>
    <servlet-class>com.cookiee.vuecookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vuecookie</servlet-name>
    <url-pattern>/third</url-pattern>
  </servlet-mapping>
</web-app>